<section id="hollywood">

<div class="row">
  <div class="small-12 large-12 columns">

  	<div class="small-6 large-6 columns small-centered">
	  	<div class="panel text-center">
		  	<h1>Movie Marathon Challenge</h1>
		  	<h4 class="subheader">Start now and get your friends involved</h4>
	    	<a href="/auth/facebook/" class="button [secondary success alert]">with Facebook</a>
		</div>
	</div>
  </div>
 </div>

</section>